@{
    ViewData["Title"] = "Home Page";
}









  

  <div class="carousel carousel-fullscreen carousel-slider home_carousel ">

        <div class="carousel-item" href="#carousel-slide-0!">
      <div class="bg" style="background-image: url('assets/images/slider-1.jpg')"></div>
      <div class="item-content center-align white-text">
        <div class="spacer-large"></div>
        <h3>Alix is PWA multi purpose Mobile App</h3>
        <h5 class="light white-text">With pre built ready to use apps</h5>
      </div>
    </div>
        <div class="carousel-item" href="#carousel-slide-1!">
      <div class="bg" style="background-image: url('assets/images/slider-4.jpg')"></div>
      <div class="item-content left-align white-text">
        <div class="spacer-large"></div>
        <h3>A premium PWA Mobile UI App template!</h3>
        <h5 class="light white-text">Designed as one our of best mobile app.</h5>
      </div>
    </div>
        <div class="carousel-item" href="#carousel-slide-2!">
      <div class="bg" style="background-image: url('assets/images/slider-3.jpg')"></div>
      <div class="item-content center-align white-text">
        <div class="spacer-large"></div>
        <h3>Numerous inbuilt UI elements and components</h3>
        <h5 class="light white-text">All in one premium quality app.</h5>
      </div>
    </div>
        <div class="carousel-item" href="#carousel-slide-3!">
      <div class="bg" style="background-image: url('assets/images/slider-2.jpg')"></div>
      <div class="item-content right-align white-text">
        <div class="spacer-large"></div>
        <h3>Alix is User Experience focused app</h3>
        <h5 class="light white-text">Elegant, Fast and Responsive app.</h5>
      </div>
    </div>
    
  </div>

<div class="container home-iconbox">
  <div class="section">

  

  <div class="spacer"></div>
  <div class="row ">
                <div class="col s12 pad-0">
  
<!--   Icon Section   -->
<div class="row">
    <div class="col s6 m6 l3">
    <div class="icon-block block z-depth-1">
      <h2 class="icon-area center primary-text"><i class="mdi mdi-speedometer"></i></h2>
      <h6 class="title-area center">Light & Fast</h6>
      <p class="text-area center">It is designed to be super fast and light in weight. It speeds your development and helps smooth user interation.</p>
    </div>
  </div>

    <div class="col s6 m6 l3">
    <div class="icon-block block z-depth-1">
      <h2 class="icon-area center primary-text"><i class="mdi mdi-spotlight"></i></h2>
      <h6 class="title-area center">Creative</h6>
      <p class="text-area center">By utilizing elements and principles of Material Design, It is designed with unique set of features.</p>
    </div>
  </div>

    <div class="col s6 m6 l3">
    <div class="icon-block block z-depth-1">
      <h2 class="icon-area center primary-text"><i class="mdi mdi-thumb-up-outline"></i></h2>
      <h6 class="title-area center">Quality Code</h6>
      <p class="text-area center">It follows black box level coding standard. All the code is well formatted, commented and ready to use.</p>
    </div>
  </div>

    <div class="col s6 m6 l3">
    <div class="icon-block block z-depth-1">
      <h2 class="icon-area center primary-text"><i class="mdi mdi-lan"></i></h2>
      <h6 class="title-area center">Multi Purpose</h6>
      <p class="text-area center">It can be customized and used for any niche. The vast possibilities of this template makes it multi purpose.</p>
    </div>
  </div>

  </div>


  </div>
    </div>
    
  </div>
</div>


<div class="row primary-bg ">
  <div class="spacer"></div>
  <div class="spacer"></div>
  <h5 class="center bot-0 sec-tit white-text pad-15">PWA Multi Purpose App</h5>
  <p class="center-align white-text pad-30">Alix is a multi purpose PWA Mobile UI APP with tons of features and functionalities. Try it now.</p>
  <div class="center"><a class="btn-large waves-effect white black-text" target="_blank"
      href="https://themeforest.net/user/themepassion/portfolio">Buy Now</a></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
</div>


<div class="spacer"></div>
<div class="container">
    <div class="section">

    <div class="row ">
                <div class="col s12 pad-0">    

<div class="row ui-mediabox ">

  
  <div class="col s6">
    <a class="img-wrap round" href="assets/images/portfolio-7.jpg" data-fancybox="images"
      data-caption="Fashion industry and its trends">
      <img class="z-depth-1" style="width: 100%;" src="assets/images/portfolio-7.jpg">
    </a>
  </div>

  
  <div class="col s6">
    <a class="img-wrap round" href="assets/images/portfolio-2.jpg" data-fancybox="images"
      data-caption="Amazing clothes and props of today">
      <img class="z-depth-1" style="width: 100%;" src="assets/images/portfolio-2.jpg">
    </a>
  </div>

  
  <div class="col s6">
    <a class="img-wrap round" href="assets/images/portfolio-1.jpg" data-fancybox="images"
      data-caption="Making the best of latest fashion">
      <img class="z-depth-1" style="width: 100%;" src="assets/images/portfolio-1.jpg">
    </a>
  </div>

  
  <div class="col s6">
    <a class="img-wrap round" href="assets/images/portfolio-4.jpg" data-fancybox="images"
      data-caption="Make new trends rich every corner">
      <img class="z-depth-1" style="width: 100%;" src="assets/images/portfolio-4.jpg">
    </a>
  </div>

  
  <div class="col s6">
    <a class="img-wrap round" href="assets/images/portfolio-5.jpg" data-fancybox="images"
      data-caption="Not just any fashion for you today">
      <img class="z-depth-1" style="width: 100%;" src="assets/images/portfolio-5.jpg">
    </a>
  </div>

  
  <div class="col s6">
    <a class="img-wrap round" href="assets/images/portfolio-8.jpg" data-fancybox="images"
      data-caption="Gorgeous and appealing fashion">
      <img class="z-depth-1" style="width: 100%;" src="assets/images/portfolio-8.jpg">
    </a>
  </div>

  
  <div class="col s6">
    <a class="img-wrap round" href="assets/images/portfolio-9.jpg" data-fancybox="images"
      data-caption="Create unreal combinations at your work">
      <img class="z-depth-1" style="width: 100%;" src="assets/images/portfolio-9.jpg">
    </a>
  </div>

  
  <div class="col s6">
    <a class="img-wrap round" href="assets/images/portfolio-3.jpg" data-fancybox="images"
      data-caption="Creating wonderful cloth combinations">
      <img class="z-depth-1" style="width: 100%;" src="assets/images/portfolio-3.jpg">
    </a>
  </div>

  

</div>    </div>
    </div>
    
    </div>
  </div>

  
<div class="row primary-bg ">
  <div class="spacer"></div>
  <div class="spacer"></div>
  <h5 class="center bot-0 sec-tit white-text pad-15">Premium Mobile App</h5>
  <p class="center-align white-text pad-30">Alix is a multi purpose PWA Mobile UI APP with tons of features and functionalities. Try it now.</p>
  <div class="center"><a class="btn-large waves-effect white black-text" target="_blank"
      href="https://themeforest.net/user/themepassion/portfolio">Buy Now</a></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
</div>



<div class="container">
  <div class="section">

    <div class="row ">
                <div class="col s12 pad-0"><h5 class="bot-20 sec-tit center ">Inbuilt Apps</h5>    

    
    <div class="row settings-row">
    <div class="col s12">
    <div class="setting-box z-depth-1 center">
      <a href="sub-apps-socialmedia.html">
        <i class="mdi mdi-account-network z-depth-1"></i>
        <h6>Social Media App</h6>
      </a>
    </div>
  </div>
    <div class="col s12">
    <div class="setting-box z-depth-1 center">
      <a href="sub-apps-ecommerce.html">
        <i class="mdi mdi-cart-outline z-depth-1"></i>
        <h6>Ecommerce App</h6>
      </a>
    </div>
  </div>
    <div class="col s12">
    <div class="setting-box z-depth-1 center">
      <a href="sub-apps-blog.html">
        <i class="mdi mdi-square-edit-outline z-depth-1"></i>
        <h6>Blogs App</h6>
      </a>
    </div>
  </div>
    <div class="col s12">
    <div class="setting-box z-depth-1 center">
      <a href="sub-apps-news.html">
        <i class="mdi mdi-newspaper z-depth-1"></i>
        <h6>News App</h6>
      </a>
    </div>
  </div>
    <div class="col s12">
    <div class="setting-box z-depth-1 center">
      <a href="sub-apps-events.html">
        <i class="mdi mdi-movie-roll z-depth-1"></i>
        <h6>Events App</h6>
      </a>
    </div>
  </div>
    <div class="col s12">
    <div class="setting-box z-depth-1 center">
      <a href="sub-apps-courses.html">
        <i class="mdi mdi-school z-depth-1"></i>
        <h6>Online Course App</h6>
      </a>
    </div>
  </div>
    <div class="col s12">
    <div class="setting-box z-depth-1 center">
      <a href="sub-apps-portfolio.html">
        <i class="mdi mdi-widgets z-depth-1"></i>
        <h6>Portfolio App</h6>
      </a>
    </div>
  </div>
    <div class="col s12">
    <div class="setting-box z-depth-1 center">
      <a href="sub-apps-chat.html">
        <i class="mdi mdi-message-outline z-depth-1"></i>
        <h6>Chat & Messages App</h6>
      </a>
    </div>
  </div>
    <div class="col s12">
    <div class="setting-box z-depth-1 center">
      <a href="sub-apps-wallet.html">
        <i class="mdi mdi-wallet z-depth-1"></i>
        <h6>Payment & Wallet App</h6>
      </a>
    </div>
  </div>
    <div class="col s12">
    <div class="setting-box z-depth-1 center">
      <a href="sub-apps-university.html">
        <i class="mdi mdi-certificate z-depth-1"></i>
        <h6>University App</h6>
      </a>
    </div>
  </div>
    <div class="col s12">
    <div class="setting-box z-depth-1 center">
      <a href="sub-apps-contacts.html">
        <i class="mdi mdi-contacts z-depth-1"></i>
        <h6>Contacts App</h6>
      </a>
    </div>
  </div>
    <div class="col s12">
    <div class="setting-box z-depth-1 center">
      <a href="sub-apps-mailbox.html">
        <i class="mdi mdi-email-variant z-depth-1"></i>
        <h6>Mailbox App</h6>
      </a>
    </div>
  </div>
  </div>


    </div>
    </div>
    

  </div>
</div>










<footer class="page-footer center social-colored ">
  <div class="container footer-content">
    <div class="row">
      <div class="">
        <h5 class="logo">ALIX</h5>
                <p class="text">Alix has tons of features and functionalities making it an ultimate PWA solution.</p>
              </div>
      <div class="link-wrap">

                <ul class="social-wrap">
          <li class="social">
            <a class="" href="#!"><i class="mdi mdi-facebook"></i></a>
            <a class="" href="#!"><i class="mdi mdi-twitter"></i></a>
            <a class="" href="#!"><i class="mdi mdi-dribbble"></i></a>
            <a class="" href="#!"><i class="mdi mdi-google-plus"></i></a>
            <a class="" href="#!"><i class="mdi mdi-linkedin"></i></a>

          </li>
        </ul>
      </div>
    </div>
  </div>

    <div class="footer-copyright">
    <div class="container">
      &copy; Copyright <a class="" href="https://themeforest.net/user/themepassion/portfolio">Themepassion</a>. All rights reserved.
    </div>
  </div>
  </footer>



